*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100vw;
    height: 100vh;
    background: #141E28;
}

.top-panel
{
    width: 100%;
    height: 28%;
    position: fixed;
    top: 0px !important;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.titular
{
    width: 50vh;
    height: 30%;
    margin-bottom: 4vh;
    border-radius: 14px;
    text-align: center;
}
.titular h1
{
    font-family: "Anton", sans-serif;
    font-size: 5.4vh;
    font-weight: 100;
    color: #FFF;
}

.player-turn
{
    display: flex;
    align-items: center;
    width: 30vh;
    padding: 2.22vh;
    background: #203238;
    border-radius: 14px;
    text-align: start;
}
.player-turn h2
{
    font-family: "Rubik", sans-serif;
    font-size: 2.88vh;
    font-weight: 300;
    color: #BBC;
    margin-left: 1vh;
}
.turn
{
    width: 4vh;
    height: 4vh;
    margin-left: 0.44vh;
}

.bottom-panel
{
    width: 100%;
    height: 28%;
    position: fixed;
    bottom: 0px !important;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.scores
{
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    width: 30vh;
    padding: 2.22vh;
    background: #203238;
    border-radius: 14px;
    text-align: center;
    text-align: start;
}
#score-x-box
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#score-o-box
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.score-icon
{
    width: 4.44vh;
    height: 4.44vh;
}
#x
{
    margin: 0 2.44vh 0 0.44vh;
}
#o
{
    margin: 0 0.44vh 0 2.44vh;
}
.scores h2
{
    font-family: "Rubik", sans-serif;
    font-size: 2.8vh;
    font-weight: 300;
    color: #BBC;
}

.reset-button
{
    padding: 2vh;
    margin-top: 4vh;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 800;
    color: #FFF;
    background-color: crimson;
    border: 2px solid crimson;
    cursor: pointer;
    transition: 0.25s ease;
}

.reset-button:hover
{
    box-shadow: 0 6px 18px 0 rgba(#FFF, 0.1);
    color: crimson;
    border-color: transparent;
    background-color: transparent;
}

.content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}