*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100vw;
    height: 100vh;
    background: #141E28;
}

.top-panel
{
    width: 100%;
    height: 28%;
    position: fixed;
    top: 0px !important;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.titular
{
    width: 50vh;
    height: 30%;
    margin-bottom: 4vh;
    border-radius: 14px;
    text-align: center;
}
.titular h1
{
    font-family: "Anton", sans-serif;
    font-size: 5.4vh;
    font-weight: 100;
    color: #FFF;
}

#player-turn
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30vh;
    padding: 2.22vh;
    background: #203238;
    border-radius: 14px;
}
#player-turn h2
{
    margin-left: 1vh;
    font-family: "Rubik", sans-serif;
    font-size: 2.44vh;
    font-weight: 300;
    color: #BBC;
}
.turn
{
    width: 4vh;
    height: 4vh;
    margin-left: 0.44vh;
}

.content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-panel
{
    width: 100%;
    height: 28%;
    position: fixed;
    bottom: 0px !important;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.scores
{
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    width: 30vh;
    padding: 2.22vh;
    background: #203238;
    border-radius: 14px;
    text-align: start;
}
#score-x-box
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #203238;
    border-color: #203238;
    border-width: 2.22vh 0 2.22vh 2.22vh;
    margin: -2.22vh 0 -2.22vh -2.22vh;
    border-radius: 14px 0 0 14px;
    border-style: solid;
}
#score-o-box
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #203238;
    border-color: #203238;
    border-width: 2.22vh 2.22vh 2.22vh 0;
    margin: -2.22vh -2.22vh -2.22vh 0;
    border-radius: 0 14px 14px 0;
    border-style: solid;
}
.score-icon
{
    width: 4.44vh;
    height: 4.44vh;
}
#x
{
    margin: 0 2.44vh 0 0.55vh;
}
#o
{
    margin: 0 0.44vh 0 2.44vh;
}
.scores h2
{
    font-family: "Rubik", sans-serif;
    font-size: 2.44vh;
    font-weight: 300;
    color: #BBC;
}

.reset-button
{
    padding: 1.76vh;
    margin-top: 4.44vh;
    border-radius: 100%;
    background-color: #08A818;
    border: 2px solid #08A818;
    cursor: pointer;
    transition: 0.68s ease;
    box-shadow: 0 0 1.44vh #08A818;
    -webkit-tap-highlight-color: transparent;
}

.reset-button:active
{
    transform: translateY(0.66vh);
    border-color: transparent;
    background-color: transparent;
    box-shadow: 0 0 2.88vh #08A818;
    transition: 0.14s ease;
}

.reset-button:not(:active)
{
    animation-name: spin;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transition: 0.2s step-end;
}

@keyframes spin
{
    from
    {
        transform:rotate(0deg);
    }
    to
    {
        transform:rotate(360deg);
    }
}

.reset-icon
{
    width: 2.88vh;
    height: 2.88vh;
}